.wrapper{
    max-width: 100%;
    display: flex;
    .conteiner{
        max-width: 400px;
        margin-bottom: 8px;
        &_title{
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
        }
        &_distanse{
            display: flex;
            gap:4px;
            cursor: pointer;

        }
    }
    a{
        text-decoration: none;
        color:#fff;
    }
}

.main_content{
    margin-right: 80px;
}

.km{
    display: none;

    &_active{
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.lunar{
    display: none;

    &_active{
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.item{
    margin-bottom: 15px;

    &_title{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    &_info{
        display: flex;
        gap:8px;

        &_subinfo{
            display: flex;
        }

        .name{
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }

        .diameter{
            font-size: 12px;
            line-height: 16px;
        }
    }

}

.button{
    display: flex;
    gap:8px;

    .add{
        width: 90px;
        height: 24px;
        border-radius: 16px;
        background-color: #f8670044;
        color: #F86600;
        padding:2px,11px;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;
    }

    .add:hover{
        background-color: #F86600;
        color:#fff;
    }
}

.arrow_conteiner{
    display: flex;

    .line{
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin-top: 8px;
        overflow: hidden;
    }
}

.dangerous{
    display: none;

    &_active{
        display: inline;
        gap:4px;
        font-weight:400;
        font-size: 14px;
        line-height:20px;
        color:rgb(255, 238, 0);
    }
}   

.big{
    display: none;
    &_active{
        display: block;
    }
}

.litle{
    display: none;

    &_active{
        display: block;
    }
}

.cart_conteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
    width: 150px;
    height: 161px;
    padding: 16px;
    border-radius: 24px;
    background-color:#232526;
}

.cart_title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.cart_subtitle{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.cart_button{
    cursor: pointer;
    width:118px;
    height:48px;
    padding: 8px 16px 8px 16px;
    border-radius: 40px;
    gap: 4px;
    background-color: #F86600;
    text-align: center;
    transition: 1s;
    div{
        cursor: pointer;
        margin-top: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
}

.cart_button:hover{
    background-color: #fff;
    color:#F86600;
}

@media (max-width:768px) {
    .wrapper{
        flex-direction: column;
    }
    .cart_conteiner{
        position:fixed;
        left:0px;
        bottom:0px;
        width: 100%;
        height: 81px;
        border-radius: 0;
        flex-direction: row;
       //justify-content: space-around;
    }
    .cart_button{
        margin:0;
        margin-right: 20px;
    }
}